<div class="row justify-content-center align-items-center">
    <div class="col-md-4 p-3">
        <div class="text-center content1"><p>****Cash Register Summary****</p>
        <h1 class="fw-bold"> Chennai Branch</h1>
    <h1 class="fw-bold mb-2">CR-2022-122</h1></div>
    <div class="content-2 ">
      <div class="row p-2">
        <div class="col-6">
            <div ><p>Till</p></div>
            <div ><p>Opened On</p></div>
            <div ><p>Opened By</p></div>
            <div ><p>Opening Amount</p></div>
            <div ><p>Closed On</p></div>
            <div ><p>Closed By</p></div>
            <div ><p>Closing Cash</p></div>
            <div ><p>Actual Cash</p></div>

        </div>
        <div class="col-6 text-end">
            <div><p>T22 / Jay-Web</p></div>
            <div><p>08-11-2022 14:14:47</p></div>
            <div><p>E009/Allpos</p></div>
            <div><p>	&#8377; 100</p></div>
            <div><p>08-11-2022 14:18:40</p></div>
            <div><p>E009/Allpos</p></div>
            <div><p>&#8377; 100</p></div>
            <div><p>&#8377; 1200</p></div>
        </div>
      </div>

    </div>
    <div class="content1">
        <div class="text-center">  <h2> <u>Sales Summary</u></h2></div>
        <div class="row p-2">
            <div class="col-6">
                <div ><p>Sale Amount</p></div>
                <div ><p>Sale Discount</p></div>
                <div ><p>Avg Sale Amount</p></div>
                <div ><p>No of Invoice</p></div>
            </div>
            <div class="col-6 text-end">
                <div><p>	&#8377;  346.67</p></div>
                <div><p>	&#8377;  0.00</p></div>
                <div><p>	&#8377;  346.67</p></div>
                <div><p>	1</p></div>
            </div>
          </div>

    </div>
    <div class="content1">
        <div class="text-center">  <h2> <u>Product Summary</u></h2></div>
        <div class="row p-2">
            <div class="col-6">
                <div ><p>Sale Amount</p></div>
                <div ><p>Product Discount</p></div>
                <div ><p>No of Products</p></div>
            </div>
            <div class="col-6 text-end">
               <div><p>	&#8377;  301.00</p></div>
               <div><p>	&#8377;  05.00</p></div>
               <div><p>	2</p></div>
            </div>
          </div>

    </div>
    <div class="content1">
        <div class="text-center"><u><h2>Customer Summary </h2></u></div>
        <div class="row">
            <div class="col-6">
                <div><p>New Customer</p></div>
                <div><p>Repeat Customer</p></div>
                <div><p>Walkin Customer</p></div>
            </div>
            <div class="col-6 text-end">
                <div><p>0</p></div>
                <div><p>1</p></div>
                <div><p>1</p></div>
            </div>
        </div>
    </div>
    <div class="content1">
        <div class="text-center"><h2><u>Sales Channel</u></h2></div>
        <div class="row">
            <div class="col-6">
                <div><p>Takeaway [1]</p></div>
                <div><p>Delivery [1]</p></div>
                <div><p>Dinning [1]</p></div>
            </div>
            <div class="col-6 text-end">
                <div><p>	&#8377; 100</p></div>
                <div><p>	&#8377; 1000</p></div>
                <div><p>	&#8377; 1005</p></div>
            </div>
        </div>
    </div>
    <div class="content1">
        <div class="text-center"><h2><u>Payment Mode Summary</u></h2></div>
        <div class="row">
            <div class="col-6">
                <div><p>Cash</p></div>
                <div><p>UPI</p></div>
                <div><p>Gpay</p></div>
            </div>
            <div class="col-6 text-end">
                <div><p>&#8377; 200</p></div>
                <div><p>&#8377; 300</p></div>
                <div><p>&#8377; 100</p></div>
            </div>
        </div>
    </div>
    <div class="content1">
        <div class="text-center"> <u><h2>Sales Tax Summary</h2></u></div>
        <div class="row">
            <div class="col-6">
                <div><p>CGST-2.50%</p></div>
                <div><p>SGST/UTGST-2.50%</p></div>
                <div><p>CGST-0.00%</p></div>
                <div><p>IGST-0.00%</p></div>
                <div><p>Drinks Tax-20.00%</p></div>

            </div>
            <div class="col-6 text-end">
                <div><p> 	&#8377; 6.59 </p></div>
                <div><p> 	&#8377; 6.59 </p></div>
                <div><p> 	&#8377; 0.00 </p></div>
                <div><p> 	&#8377; 0.00 </p></div>
                <div><p> 	&#8377; 0.00 </p></div>

            </div>
        </div>
    </div>
    <div class="content1">
        <div class="text-center"><u><h2>Payment In / Out Summary</h2></u></div>
        <div class="row">
            <div class="col-6">
                <div><p>Opening Amount</p></div>
                <div><p>Closing Amount</p></div>
            </div>
            <div class="col-6 text-end">
                <div><p>	&#8377; 100.00</p></div>
                <div><p>	&#8377; 1000.00</p></div>
            </div>
        </div>

    </div>
    <div class="content1">
        <div class="text-center"><u><h2>Invoice Status Summary </h2></u></div>
        <div class="row">
            <div class="col-6">
                <div><p>Pending</p></div>
            </div>
            <div class="col-6 text-end">
                <div><p>	&#8377; 100.00</p></div>
            </div>
        </div>

    </div>
    <div class="content1">
        <div class="text-center"><u><h2>Payment Status Summary </h2></u></div>
        <div class="row">
            <div class="col-6">
                <div><p>Pending</p></div>
            </div>
            <div class="col-6 text-end">
                <div><p>	&#8377; 100.00</p></div>
            </div>
        </div>

    </div>


    </div>
</div>