<div class="row">
    <div class="col-md-2 aside">
        <div class=" mt-5 p-2">
            <form #form="ngForm" (ngSubmit)="onsubmitting(form.value)" >
            <div>
                <label>Shapes</label>
                <select class="form-select"  required
                ngModel
                name="shape" >
                    <option *ngFor="let tab of shapes">{{tab}}</option>
                </select>
            </div>
            <div class="mt-3">
                <label>No Of Chairs</label>
                <select class="form-select"  required
                ngModel
                name="Chairs" >
                    <option *ngFor="let tab1 of chairs">{{tab1.no}}</option>

                </select>

            </div>
            <div class="mt-3">
                <label>Choose  Color</label>
                <select class="form-select"  required
                ngModel
                name="color" >
                    <option *ngFor="let coloring of color">{{coloring}}</option>

                </select>

            </div>

            <div class="text-center mt-3">
                <button class="btn btn-primary" type="submit">Save</button>
            </div>
            </form>

        </div>

    </div>
    <div class="col-md-10">
        <div class="d-flex justify-content-between flex-wrap align-items-center p-5 mt-5 " >
        
                <div *ngFor="let tab of submittedList" ngClass={{tab.shape}}  [ngStyle]="{backgroundColor:tab.color}" class="mt-4 position-relative">
                    <div class="position-absolute img1"> <img src="../../../assets/snapchat.svg" alt=""  *ngIf="tab.type[0]" ></div>
                    <div class="position-absolute img2"> <img src="../../../assets/snapchat.svg" alt=""   *ngIf="tab.type[1]"></div>
                    <div class="position-absolute img3"> <img src="../../../assets/snapchat.svg" alt=""  *ngIf="tab.type[2]"  ></div>
                    <div class="position-absolute img4"> <img src="../../../assets/snapchat.svg" alt=""   *ngIf="tab.type[3]" ></div>
                    <div class="position-absolute img5"> <img src="../../../assets/snapchat.svg" alt=""    *ngIf="tab.type[4]" ></div>
                </div>
            </div>


        </div>

    </div>