<div class="container-fluid px-5">

<div class="row justify-content-center align-items-center g-4">
    <div class="col-md-4 mt-5">
        <div class="card searchCard p-4">
            <div class="position-relative">
            <input type="text" class="form-control" placeholder="Enter the Grn Number"> <img src="../../../assets/search (2).svg"  class="position-absolute search-icon" alt="">
            </div>
        </div>
    </div>
    <div class="col-md-12">
         <div class="row   g-5">
            <div class="col-md-5 empty-column">
            </div>
            <div class="col-md-2  d-flex justify-content-center align-items-center" >
                <img src="../../../assets/Group 286.png" class="image-select" alt="">
            </div>
            <div class="col-md-5">
                <div class="card showingCard p-2">
                    <div class="card-title text-center">
                        <h1>Inward</h1>
                    </div>
                    <div class="card-body text-center">
                        <h4>Inward Date & Time: <span class="fw-bold"> 12/08/22 10:30 am </span></h4>
                        <h3>GRN NUMBER: <span class="fw-bold"> G876456HB</span></h3>
                    </div>

                </div>
            </div>
         </div>
            <div class="d-flex justify-content-center align-items-start position-relative">
            <div class="vr position-absolute">
            </div>

            </div>
            <div class="row reverseItem mt-3 g-5">
            <div class="col-md-5   ">
                <div class="card showingCard p-2">
                    <div class="card-title text-center">
                        <h1>Putaway</h1>
                    </div>
                    <div class="card-body text-center">
                        <h4>Putaway Date & Time: <span class="fw-bold"> 12/08/22 10:30 am </span></h4>
                        <div class="d-flex justify-content-around align-items-center">
                        <h3>Rack Number: <span class="fw-bold">G876456HB</span></h3>
                        <h3>Bin Number : <span class="fw-bold"> BINIU87</span></h3>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-2 d-flex justify-content-center align-items-center " >
                <img src="../../../assets/putaway.svg"  class="image-select" alt="">
            </div>
            <div class="col-md-5 empty-column " >
               
            </div>
            </div>
            <div class="d-flex justify-content-center align-items-start position-relative">
                <div class="vr position-absolute">
                </div>
    
                </div>
                <div class="row mt-3 g-5">
            <div class="col-md-5 empty-column">
            </div>
            <div class="col-md-2  d-flex justify-content-center align-items-center" >
                <img src="../../../assets/Icon material-settings (1).svg"  class="image-select"  alt="">
            </div>
            <div class="col-md-5">
                <div class="card  showingCard p-2">
                    <div class="card-title text-center">
                        <h1>Picking</h1>
                    </div>
                    <div class="card-body text-center">
                        <h4>Picking Date & Time: <span class="fw-bold"> 12/08/22 10:30 am </span></h4>
                        <h3>Picklist Number : <span class="fw-bold"> BINIU87</span></h3>
                    </div>

                </div>
            </div>
                </div>
            <div class="d-flex justify-content-center align-items-start position-relative">
                <div class="vr position-absolute">
                </div>
    
                </div>
                <div class="row reverseItem mt-3 g-5">
            <div class="col-md-5 ">
                <div class="card showingCard p-2">
                    <div class="card-title text-center">
                        <h1>Dispatch</h1>
                    </div>
                    <div class="card-body text-center">
                        <h4>Dispatch Date & Time: <span class="fw-bold"> 12/08/22 10:30 am </span></h4>
                        <h3>Order Number : <span class="fw-bold"> BINIU87</span></h3>
                    </div>

                </div>
            </div>
            <div class="col-md-2 d-flex justify-content-center align-items-center " >
                <img src="../../../assets/Dispatch.svg"  class="image-select"  alt="">
            </div>
            <div class="col-md-5 empty-column" >
               
            </div>
                </div>
         
    </div>
</div>
</div>
